/*-------------------------------
|  Generic
-------------------------------*/
body {
    font-family: "Nunito", "Open-Sans", sans-serif;
    font-size: 18px;
    line-height: 1.3; 
}

/*-------------------------------
|  Headers
-------------------------------*/


