
:root {
    --color-text: #b8afaa;
    --color-bg: #000;
    --color-link: #968a84;
    --color-link-hover: #fff;
    --page-padding: 1rem;
    --color-highlight-start: #ffffff;
    --color-highlight-end: #968a84;
    --color-highlight-end-alt: #968a84;
}

.about-storytelling {
    .content-inner {
        margin-bottom: 60vh;
        &:last-of-type {
            margin-bottom: 30vh;
            margin-bottom: max(300px, 30vh);;

        }
        // max-width: 800px;
        p {
            font-size: min(max(1.75em, 5vw), 3em) !important;
            // font-size: 55px;
            line-height: 1.5;
        }
        &.content-1 {
            max-width: 571px
        }
        &.content-2 {
            max-width: 800px
        }
        &.content-3 {
            max-width: 823px
        }
        &.content-4 {
            max-width: 830px
        }
        &.content-5 {
            max-width: 921px
        }
    }

    .hx {
        background: none;
        color: var(--color-highlight-start);
        display: inline-block;
        position: relative;
        white-space: nowrap;


        display: inline-flex;
        --after-scale: 0;
        --after-opacity: 0;
        --color-bg-highlight: #{$accent};
        --color-highlight-start: #ffffff;

        &::after {
            content: '';
            left: -2.5%;
            top: 4%;
            bottom: -0%;
            position: absolute;
            z-index: -1;
            opacity: var(--after-opacity);
            width: 105%;
            transform: scale3D(var(--after-scale),var(--after-scale),var(--after-scale));
            background: var(--color-bg-highlight);
            border-radius: 8px;
        }
    }
}