.sticky-header {
    position: fixed;
    // height: 100px;
    width: 100%;
    left: 0;
    top: 0;
    background: $primary;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
    transform: translateY(-200px);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 24px 16px;
    .menu-btn {
        display: block;
        .hamburger-inner, .hamburger-inner::after, .hamburger-inner::before {
            background: #fff;
        }
        .hamburger {
            padding: 0;
            display: flex;
        }
    }
    .main-menu {
        display: none;
    }
    @media screen and (min-width: 768px) {
        flex-direction: row;
        padding: 24px 36px;
        .menu-btn {
            display: none;
        }
        .main-menu {
            display: block;
        }
    }
}

.menu-shown, .menu-force-shown {
    .sticky-header {
        transform: translateY(0);
    }
}




.main-menu {
    display: flex;
    gap: 16px;
    ul {
        list-style-type: none;
        display: flex;
        gap: 16px;
        align-items: center;
        li {
            a {
                text-decoration: none;
                color: $text;
                transition: color 0.3s ease;
                &:hover {
                    color: $accent;
                }
            }
        }
    }
}
.socials {
    display: flex;
    align-items: center;
    gap: 16px;
    svg {
        path {
            transition: fill 0.3s ease;
        }
        &:hover {
            path {
                fill: $accent
            }
        }
    }
}

header {
    position: absolute;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    .main-menu {
        display: none;
        gap: 16px;
        ul {
            list-style-type: none;
            display: flex;
            gap: 16px;
            align-items: center;
            li {
                a {
                    text-decoration: none;
                    color: $primary;
                    transition: color 0.3s ease;
                    &:hover {
                        color: $accent;
                    }
                }
            }
        }
    }
    .menu-btn {
        display: block;
    }
    @media screen and (min-width: 768px) {
        .main-menu {
            display: flex;
        }
        .menu-btn {
            display: none;
        }
    }
}


.mobile-menu {
    width: 100vw;
    height: 100vh;
    position: fixed;
    inset: 0;
    background-color: $accent;
    z-index: 9;
    transform: translateY(150%);
    transition: transform 0.3s ease;
    padding: 100px 16px 60px;

    .main-menu {
        height: 100%;
        align-items: center;
        justify-content: center;
        ul {
            flex-direction: column;
            width: 100%;

            li {
                a {
                    font-size: 36px;
                    &:hover {
                        color: $primary;
                    }
                }
            }

        }
    }

}
.menu-open {
    .mobile-menu {
        transform: translateY(0%);
    }
}