.work-with-us {
    margin-bottom: 0;
    padding-bottom: 0;
    min-height: unset;
    h2 {
        margin-bottom: 50px;
    }
    .content-boxes {
        display: flex;
        flex-direction: column;
        gap: 16px;
        .content-box {
            flex: 1 50%;
            background: $primary;
            padding: 16px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            transition: background 0.6s linear;
            h3 {
                font-size: 24px;
                margin-bottom: 30px; 
            }
            .content {
                margin-bottom: 50px;
            }
        }
    }
    @media screen and (min-width: 768px) {
        .content-boxes {
            flex-direction: row;
            .content-box {
                padding: 36px;
            }
        }
    }
}

.white-bg {
    .work-with-us {
        .content-box {
            background: $secondary;
        }
    }
}